.post-container-style3
    flex: 1 0 0
    .img-container
        position: relative
        .img-overlay-title
            font-family: $font-serif
        .title-blurb,
        .title-sub-blurb,
        .desc,
        .author,
        .more-link
            margin: 0 auto
        .title-blurb
            font-size: 3rem
            font-weight: bold
        .title-sub-blurb
            font-size: 2.25rem
            font-weight: bold
        .desc-overlay
            position: absolute
            width: 66%
            background: rgba(238,238,238,1)
            color: $travel-color-black
            .desc
                font-size: 1rem
                font-style: italic
            .author
                font-size: .75rem
                font-weight: thin
            .more-link
                font-size: .8rem
                font-family: $font-sans
                text-decoration: none
                background-image: linear-gradient(to right, $travel-color-peach, $travel-color-peach)
                background-position: bottom left
                background-repeat: no-repeat
                background-size: 75% 2px
                transition: background-size .5s ease
                &:hover
                    background-size: 660 2px

        img
            display: block
            max-width: 100%
            width: 100%
